
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">
      <img src="../assets/logo-1x.png" style="width: 50%;">
    </span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link thick-font" href="/dashboard/integrations" >Integrations</a>
      <a class="mdl-navigation__link thick-font" href="/dashboard/analytics" >Analytics</a>
      <a class="mdl-navigation__link thick-font" href="/dashboard/apicall" >Reports</a>
      <a class="mdl-navigation__link thick-font" href="/dashboard/insights" >Insights</a>
      <a class="mdl-navigation__link thick-font" href="/dashboard/contactus" >Contact Us</a>
    </nav>
  </div>
  <main class="mdl-layout__content" style="background-color: rgb(85, 85, 85)">
    <div class="page-content" >
      <router-outlet>
        
      </router-outlet>
    </div>
  </main>
</div>
